<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minetime">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bomb"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bomb"
        android:supportsRtl="true"
        android:theme="@style/Theme.MineTime">
        <activity android:name=".Result"></activity>
        <activity
            android:name=".Hard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Easy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>